body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  color: #333;
  text-align: center;
  font-size: 2em;
  margin-bottom: 1em;
  font-weight: 600;
}

hr {
  border: 0;
  border-top: 1px solid #ddd;
  margin: 20px 0;
}


#questionContainer {
  font-weight: bold;
  margin-bottom: 20px;
}

button {
  background-color: #007bff;
  border-color: #007bff;
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  text-transform: capitalize;
  transition: all 0.3s ease;
  box-shadow: 0px 10px 15px -3px rgba(0,123,255,0.3),
              0px 4px 6px -2px rgba(0,123,255,0.05);         
  width: 200px;
  text-align: center;
}

button:hover {
  background-color: #0069d9;
  border-color: #0069d9;
}

#nextButton {
  background-color: #00008b;
  border-color: #00008b;
}

#nextButton:hover {
  background-color: #000080;
  border-color: #000080;
}

#answersContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#result {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background-color: white;
  border: 1px solid #000;
  text-align: center;
}

